<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <style type="text/css">
        table, th, td {
            text-align: right;
        }

        #total {
            width: 720px;
            margin: 0 auto;
            text-align: left;
        }

        #test {
            color: crimson;
        }
    </style>
    <script>
        function checkAccount() {
            var name = document.getElementById('user').value
            var password = document.getElementById('password').value
            var flag = 0
            {% for user,key in accounts.items() %}
                if (name == "{{user}}") {
                    flag = 1;
                    if (password == "{{ key }}") {
                        flag = 2;
                    }
                }
            {% endfor %}
            if (flag == 0) {
                document.getElementById('test').innerHTML = "No account found!";
            }
            if (flag == 1) {
                document.getElementById('test').innerHTML = "Wrong password!";
            }
            if (flag == 2) {
                method = "post";
                var form = document.createElement("form");
                form.setAttribute("method", method);
                var user = document.createElement("input");
                user.setAttribute("type", "hidden");
                user.setAttribute("name", "user");
                user.setAttribute("value", name);
                form.appendChild(user)
                document.body.appendChild(form);
                form.submit();
            }
        }
    </script>
</head>

<body>

<div id="total">
    <h1>Welcome back, please login.</h1><br>
    <table>
        <tr>
            <td><h2>Account: </h2></td>
            <td><input type="text" id="user"></td>
        </tr>
        <tr>
            <td><h2>Password: </h2></td>
            <td><input type="password" id="password"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button onclick="checkAccount()"><h2>Log in</h2></button>
            </td>
        </tr>
    </table>
    <i><h3 id="test"></h3></i>
    <table>
        <tr>
            <td><h2>New to FG warband?</h2></td>
            <td>
                <button onclick="window.location.href='/register'"><h2>Join Now</h2></button>
            </td>
        </tr>
    </table>
</div>
</body>

</html>